/*
 Theme Name:     WSU Brand
 Theme URI:      http://brand.wsu.edu
 Description:    A set of standard, customizable templates for official Washington State University websites
 Author:         WSU University Communications
 Author URI:     http://ucomm.wsu.edu
 Template:       spine
 Version:        0.0.1
*/

@import url("../spine/style.css");

body {
	color: #5e6a71;
	font-size: 13px;
	line-height: 20px;
	background: white;
	}
main {
	background: 
		url('/wp-content/themes/brand/images/elements/main-background-bottom-lighter.png') left bottom no-repeat,
		url('/wp-content/themes/brand/images/elements/main-background-lighter.png') left top repeat-y;
	padding-bottom: 150px;
	}
main p {
	line-height: 1.6em;
	}

h6,h5,h4,h3,h2,h1,big,dt {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}
a, a:link, a:visited:hover, button { color: #C69214; color: #ADA400; }

a:visited {	color: #77580C; color: #8F7E35;	}
a:hover,button:hover { color: #77580C; color: #8F7E35; }

main ul li {
	list-style: disc;
	}
.row .column article {
	padding: 0px;
	}
section.alternate {
	background-color: #EFF0F1;
	}
article.intro,
p.intro {
	font-size: 1.1em;
	line-height: 1.5em;
	}
figure {
	width: 100%;
	}

button {
	border-radius: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: #B5BABE;
	background: white;
	text-shadow: none;
	width: 80px;
	font-weight: normal;
	font-size: 1em;
	}
button.brand-wider,
dl.downloads dd:only-of-type a.brand-wider,
a.brand-wider {
	width: 100px;
	}
button:hover {
	color: white;
	background-color: #ADA400;
	border-color: #ADA400;
	}

/* Blog */
.column article.post {
	padding: 2em 0em 2em 4em;
	}
.column article.post ~ article.post {
	padding: 0em 0em 2em 4em;
	}
header cite {
	display: none;
	}


/* Details */
div.details {
	display: none;
	padding-bottom: 20px;
	}
html.no-js div.details {
	display: block;
	}
xxmain .details hr:first-child {
	margin-bottom: 3em;
	}
.detailed .details {
	display: block;
	}
button.detail {
	color: #8F7E35;
	color: #ADA400;
	border: none;
	background: transparent;
	width: 100%;
	text-align: right;
	position: relative;
	overflow: visible;
	font-weight: normal;
	padding: 2em 0px;
	padding-right: 25px;
	background: url('/wp-content/themes/brand/images/elements/plus-green-er.svg') right center no-repeat;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	}
button.detail::before,
button.detail:hover {
	background-image: url('/wp-content/themes/brand/images/elements/plus-green.svg');
	}
button.detail:hover {
	color: #8f7e35;
	}
.detailed button.detail {
	background-image: url('/wp-content/themes/brand/images/elements/x-green-er.svg');
	}
.size-lt-xlarge button.detail {
	border-right: 2em transparent solid;
	}

button.detail header h2 {
	padding: 0;
	}
button.detail:hover header h2 {
	color: #8f7e35;
	}

button:focus {
	outline: none;
	}

article :not(p) big {
	font-size: 1.2em;
	line-height: 1.6em;
	padding-bottom: 1.3em;
	display: block;
	}

.brand-header {
	left: 0;
	height: 5em;
	overflow: hidden;
	background-color: #5e6a71;
	padding: 0px;
	position: relative;
	z-index: 99164;
	}
.brand-header hgroup {
	bottom: -5px;
	bottom: 0px;
	position: absolute;
	left: 0;
	padding-left: 3.9em;
	width: 2000px;
	background: #5e6a71;
	display: block;
	height: 5.34em;
	border-top: 5px #5e6a71 solid;
	}
.size-lt-large .brand-header hgroup {
	left: 0px;
	}
.brand-header div:first-of-type {
	display: none;
	}
.brand-header div:last-of-type {
	display: block;
	color: #464f54;
	text-transform: lowercase;
	font-size: 5em;
	line-height: 1em;
	letter-spacing: -5px;
	}
main article { 
	padding: 0px 2em;
	}
xx.row .column {
	padding: 4em;
	}
main.spine-default-page .sidebar article {
	padding: 0em;
	}
main.spine-default-page .sidebar .column {
	padding: 1em 4em 4em 4em;
	}
main.spine-default-page .sidebar > .column:first-child {
	padding-top: 4em;
	}
main.spine-default-page section:first-of-type .column.one {
	padding-top: 9.5em;
	}
.column.nav-top {
	padding-top: 9.5em !important;
	}

main h2 {
	color: #568a90;
	}
main h2 small {
	color: #5e6a71;
	font-size: 1em;
	}
main h3 {
	color: #568a90;
	font-size: 1.3em;
	line-height: 1.4em;
	}
main h4 {
	color: #4F868E;
	font-size: 1.2em;
	line-height: 1.3em;
	padding-bottom: .3em;
	padding-top: .6em;
	}
main h2:not(.not-lowercase),
main h3:not(.not-lowercase),
main h4:not(.not-lowercase),
main h5:not(.not-lowercase) {
	text-transform: lowercase;
	}
main h5 {
	font-size: 1.1em;
	line-height: 1.2em;
	padding-bottom: .3em;
	padding-top: .6em;
	}

body.page .article-title {
	display: none;
	}


.intro big,
p big {
	color: #4F868E;
	font-size: 1.6em;
	font-weight: bold;
	font-weight: normal
	line-height: 1em;
	}


.column aside.striped {
	text-align: center;
	padding: 50px 60px;
	font-style: italic;
	font-size: 1.4em;
	line-height: 2em;
	}
blockquote {
	margin-left: 2em;
	}

blockquote,
.column aside.striped,
samp {
	font-family: "Palatino Linotype", Palatino, "Book Antiqua", Georgia, serif;
	}
.column aside.striped strong {
	display: block;
	color: #981e32;
	font-weight: 700;
	font-size: .9em;
	font-style: normal;
	font-family: "Lucida Grande","Lucida Sans Unicode", "Arial", sans-serif;
	}

samp {
	color: #8F7E35;
	color: #B67233;
	}
/* Why isn't this working? */
main small, main p small {
	line-height: .5em;
	}

dl.downloads {
	width: 100%;
	}
dl.downloads dt {
	color: #4F868E;
	font-weight: normal;
	font-size: 1em;
	width: 100%;
	text-align: center;
	display: inline-block;
	padding: 5px 0px 10px 0px;
	}
aside dl.downloads dd {
	border: none;
	}
dl.downloads dd {
	width: 48%;
	margin-bottom: 14px;
	text-align: right;
	padding-right: 6px;
	box-sizing: border-box;
	}
dl.downloads dd:nth-of-type(even) {
	text-align: left;
	padding-left: 6px;
	padding-right: 0px;
	}

dl.downloads dd a,
a.brand-button {
	width: 75%;
	color: #ADA400;
	display: inline-block;
	background: white;
	border: 1px #B5BABE solid;
	padding: 3px 6px;
	text-align: center;
	white-space: nowrap;
	}
a.brand-button {
	display: inline-block;
	width: 5.75em;
	}
dl.downloads dd a:hover,
a.brand-button:hover {
	color: white;
	background: #ADA400;
	border-color: #ADA400;
	}
dl.downloads dd:only-of-type {
	width: 100%;
	text-align: center;
	}
dl.downloads dd:only-of-type a {
	width: 80px;
	margin: 0px auto;
	}

main hr {
	margin: 1em 2em;
	height: 1px;
	display: block;
	clear: both;
	}

main .marginalized .column hr {
	margin: 1em 0;
	}

main .wide hr {
	margin-top: 0;
	margin-left: 4em;
	margin-right: 4em;
	}	
article .unbound.recto {
	margin-left: -4em;
	}
xx.sidebar .column.one .unbound.recto .rebound {
	max-width: 468px;
	}
article .unbound.recto .rebound {
	padding: 4em;
	margin: 3em 0px;
	}

.em-15 { font-size: 1.5em; }
.em-2 { font-size: 2em; }
.em-25 { font-size: 2.5em; }
.em-3 { font-size: 3em; }
.em-35 { font-size: 3.5em; }

/* Big Captions */

figcaption big {
	font-size: 100px;
	letter-spacing: -7px;
	font-weight: bold;
	margin: 0px !important;
	padding: 0px !important;
	line-height: 1em;
	position: absolute;
	left: 30px;
	bottom: -13px;
	color: white;
	}
.size-lt-medium figcaption big {
	font-size: 64px;
	letter-spacing: 0px;
	line-height: 1em;
	bottom: -8px;
	}

/* Adjustments */

.size-lt-medium .marginalize.wide .column:nth-of-type(1n+1) {
	padding: 2em;
	}
.size-lt-medium .gutter.wide .column:nth-of-type(1n+1) {
	padding-left: 2em;
	padding-right: 2em;
	}

/* Pages */

.page-id-21 main section { background:
	url('/wp-content/themes/brand/images/pages/print/brochures.png') 85% top no-repeat,
	url('/wp-content/themes/brand/images/pages/print/pieces.png') 15px bottom no-repeat }
.page-id-21 .size-lt-medium main section { background: url('/wp-content/themes/brand/images/pages/print/pieces.png') 15px bottom no-repeat }
.page-id-21 main section:first-of-type .column.one { padding-bottom: 730px; padding-right: 6em; }
.page-id-21 article ul li { padding-bottom: .2em; }

.page-id-24 main section { background:	url('/wp-content/themes/brand/images/pages/misc/presentations.png') 65% -15px no-repeat; min-height: 800px; }
.page-id-24 main section .column.one { padding-top: 100px; }

.page-id-27 main section { background:	url('/wp-content/themes/brand/images/pages/misc/schwag.png') 60% -15px no-repeat }
.page-id-27 main section .column.one { xxpadding-top: 85px; min-height: 700px; }

/* FAQ */
.page-id-90 main section:first-of-type {
	background: url('/wp-content/themes/brand/images/pages/misc/qa.png') 70% 0px no-repeat;
	}
.page-id-90 main section:first-of-type .column.one {
	padding-top: 260px;
	}
body[class*="faq"] main dl h4,
.page-id-90 main dl h4 {
	min-height: 3em;
	height: 3em;
	display: table-cell;
	vertical-align: middle;
	padding: 0px;
	}
.page-id-90 dl:nth-of-type(odd) {
	background-color: #EFF0F1;
	background-color: #f4f4f5;
	}
body[class*="faq"] dl dt,
.page-id-90 dl dt {
	background: url('/wp-content/themes/brand/images/elements/plus-green-er.svg') 95% center no-repeat;
	max-width: 792px;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 20em;
	display: block;
	margin-left: 4em;
	}
body[class*="faq"] dl dt:hover,
.page-id-90 dl dt:hover {
	cursor: pointer;
	}
body[class*="faq"] dl dt h4,
.page-id-90 dl dt h4 {
	text-transform: none;
	}
body[class*="faq"] dl dt:hover h4,
.page-id-90 dl dt:hover h4 {
	color: #00a5bd;
	color: #8f7e35;
	}
.page-id-90 dl.disclosed dt {
	background-image: url('/wp-content/themes/brand/images/elements/x-green-er.svg');
	}
body[class*="faq"] dl dd,
.page-id-90 dl dd {
	display: none;
	padding-right: 20em;
	padding-bottom: 3em;
	margin-left: 4em;
	}
.page-id-90 .size-lt-medium dl dt,
.page-id-90 .size-lt-medium dl dd {
	padding-right: 4em;
	}

.page-id-101 main section .column.one { padding-top: 95px; }
.page-id-101 main section { background:	url('/wp-content/themes/brand/images/pages/misc/social.png') 85% -55px no-repeat }

.page-id-103 .size-gt-small main section .column.two { background:	url('/wp-content/themes/brand/images/pages/video/emotion.png') 0 -5px no-repeat; min-height: 600px; }
xx.page-id-103 .size-gt-small main section .column.one { padding-top: 97px; }

.page-id-105 .size-gt-small .column.two { background:	url('/wp-content/themes/brand/images/pages/misc/sign.png') 0 -15px no-repeat; height: 600px; }
xx.page-id-105 .size-gt-small .column { padding-top: 97px; }

xx.page-id-165 .size-gt-small .column { padding-top: 65px; }