/*
 Theme Name:     WSU Brand
 Theme URI:      http://brand.wsu.edu
 Description:    A set of standard, customizable templates for official Washington State University websites
 Author:         WSU University Communications
 Author URI:     http://ucomm.wsu.edu
 Template:       spine
 Version:        0.0.1
*/

@import url("../spine/style.css");

body {
	color: #5e6a71;
	font-size: 13px;
	line-height: 18px;
	background: white;
	}
main {
	background: 
		url('/wp-content/themes/brand/images/elements/main-background-bottom.png') left bottom no-repeat,
		url('/wp-content/themes/brand/images/elements/main-background.png') left top repeat-y;
	padding-bottom: 150px;
	}
main p {
	line-height: 1.6em;
	}
	
a, a:visited:hover { color: #C69214; }

a:visited {	color: #77580C;	}
a:hover { color: #77580C; }

.halves .column.one > article
.halves article .column:nth-of-type(odd)
.halves article div .column:nth-of-type(odd)  {
	padding-right: 15px;
	xtext-align: justify;
	}
.halves .column.two > article,
.halves article .column:nth-of-type(even) {
	padding-left: 15px;
	}
section.indent {
	xborder-top: 1px gray solid;
	padding: 0px;
	margin: 0px 30px;
	}
section.indent.single .column > article:first-of-type,
section.indent.margin .column > article:first-of-type {
	padding: 0px;
	}
article.intro {
	font-size: 1.2em;
	line-height: 1.6em;
	}
figure {
	width: 100%;
	}
figure img {
	
	}
button {
	color: #b67024;
	border-radius: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: #a6adb0;
	background: white;
	text-shadow: none;
	}
button:hover {
	color: white;
	background-color: #b67024;
	border-color: #b67024;
	}
	
/* Details */
div.details {
	border-top: 1px #B5BABE solid;
	display: none;
	padding-top: 20px;
	padding-bottom: 20px;
	}
.detailed .details {
	display: block;
	}
.column .column {
	padding-bottom: 15px;
	}
.column.thirds .column.two {
	padding-left: 15px;
	}
button.detail {
	color: #8F7E35;
	border: none;
	background: transparent;
	width: 100%;
	text-align: right;
	position: relative;
	xheight: 40px;
	overflow: visible;
	padding: 15px 0px;
	padding-right: 25px;
	background: url('/wp-content/themes/brand/images/elements/plus-green.svg') right center no-repeat;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	}
.detailed button.detail {
	background-image: url('/wp-content/themes/brand/images/elements/x-green.svg');
	}
button:focus {
	outline: none;
	}

:not(p) big {
	font-size: 1.2em;
	line-height: 1.6em;
	}

main > header {
	left: 0;
	height: 5em;
	overflow: hidden;
	background-color: transparent;
	}
main > header hgroup {
	bottom: -5px;
	bottom: 0px;
	position: absolute;
	left: 0;
	padding-left: 30px;
	width: 2000px;
	background: #5e6a71;
	display: block;
	height: 5.34em;
	border-top: 5px #5e6a71 solid;
	}
.size-lt-large main > header hgroup {
	left: 0px;
	}
main > header div:first-of-type {
	display: none;
	}
main > header div:last-of-type {
	display: block;
	color: #464f54;
	text-transform: lowercase;
	font-size: 5em;
	line-height: 1em;
	}
main article { 
	padding: 0px 30px;
	}
main h2 {
	color: #568a90;
	}

main h3, h3 small {
	color: #568a90;
	font-size: 1.3em;
	line-height: 1.4em;
	text-transform: lowercase;
	}
main h3 small {
	color: #5e6a71;
	font-size: 1em;
	}
main h4 {
	color: #4F868E;
	font-size: 1.2em;
	line-height: 1.3em;
	padding-bottom: .3em;
	padding-top: .6em;
	}
main h5 {
	font-size: 1.1em;
	line-height: 1.2em;
	padding-bottom: .3em;
	padding-top: .6em;
	}

.article-title {
	display: none;
	}

blockquote {
	font-family: "Palatino Linotype", Palatino, "Book Antiqua", Georgia, serif;
	font-size: 1.2em;
	color: #8D959A;
	margin-left: 30px;
	}
xx.column :not(p) big {
	font-size: 1.8;
	line-height: 2em;
	font-family: "Palatino Linotype", Palatino, "Book Antiqua", Georgia, serif;
	font-style: italic;
	}
.intro big,
p big {
	color: #4F868E;
	font-size: 2em;
	font-weight: bold;
	line-height: 1em;
	}


.column aside.striped {
	text-align: center;
	padding: 30px 80px;
	font-style: italic;
	font-size: 1.3em;
	line-height: 2em;
	}
.column aside.striped {
	font-family: "Palatino Linotype", Palatino, "Book Antiqua", Georgia, serif;
	}
.column aside.striped strong {
	display: block;
	color: #981e32;
	font-weight: 700;
	font-style: normal;
	font-family: "Lucida Grande","Lucida Sans Unicode", "Arial", sans-serif;
	}
article.columnar {
	padding: 0px;
	}
article.columnar header {
	padding: 0px 30px;
	}
.halves article.columnar .column:nth-of-type(odd) {
	padding: 15px 15px 15px 30px;
	}
.halves article.columnar .column:nth-of-type(even) {
	padding: 15px 30px 15px 15px;
	}
.size-lt-large article.columnar .column {
	padding: 30px;
	}

samp {
	color: #8F7E35;
	}
/* Why isn't this working? */
main small, main p small {
	line-height: .5em;
	}
	
ul[class*="download"] {
	width: 100%;
	}
ul[class*="download"] li,
aside ul[class*="download"] li {
	list-style: none;
	float: left;
	width: 40%;
	border: none;
	}
ul[class*="download"] li a {
	color: #ADA400;
	display: block;
	background: white;
	border: 1px #B5BABE solid;
	padding: 3px 6px;
	xwidth: 120px;
	text-align: center;
	}
ul[class*="download"] li a:hover {
	color: white;
	background: #ADA400;
	border-color: #ADA400;
	}

main:not(.wireframe) .column hr {
	margin: 10px 30px;
	}
main:not(.wireframe) article hr {
	margin: 10px 0px;
	}
	
article .unbound.recto {
	margin-left: -30px;
	}
.sidebar .column.one .unbound.recto .rebound {
	max-width: 468px;
	}
article .unbound.recto .rebound {
	padding: 20px 30px;
	margin: 20px 0px;
	}

.em-15 { font-size: 1.5em; }
.em-2 { font-size: 2em; }
.em-25 { font-size: 2.5em; }
.em-3 { font-size: 3em; }
.em-35 { font-size: 3.5em; }

/* Pages */
.page-id-101 article {
	padding-top: 150px;
	}
.page-id-21 main section { background:
	url('/wp-content/themes/brand/images/pages/print/brochures.png') 85% top no-repeat,
	url('/wp-content/themes/brand/images/pages/print/pieces.png') 15px bottom no-repeat }
.page-id-21 .size-lt-medium main section { background: url('/wp-content/themes/brand/images/pages/print/pieces.png') 15px bottom no-repeat }
.page-id-21 article { padding-top: 150px; padding-bottom: 700px; }
.page-id-21 article ul li { padding-bottom: .2em; }

.page-id-103 main section { background:
	url('/wp-content/themes/brand/images/pages/video/emotion.png') 85% -15px no-repeat }
.page-id-103 article { padding-top: 150px; padding-bottom: 200px; }
